---
layout: home
---
<div class="home-title">
    <h1>Ruj <i class="fa fa-heart heart"></i></h1>
    <span class="home-subtitle">Welcome Home Sir</span>
    <!-- menu link -->
    <div class="link-manu">
        {% include sns-links.html %}
    </div>
</div>
<!-- welcome home Ruj -->
<div class="welcome-signboard">
    <div class="sign">Welcome</div>
    <div class="strings"></div>
    <div class="pin pin1"></div>
    <div class="pin pin2"></div>
    <div class="pin pin3"></div>
</div>
{% include footer.html %}