{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}
{% if site.featured-tags %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{'/archive/' | prepend: site.baseurl }}">FEATURED TAGS</a>
    </div>
    <div class="panel-body">
        <section>
            {% if include.bottom %}
                <hr class="hidden-sm hidden-xs">
            {% endif %}
            <div class="tags">
                {% capture tags %}
                {% if site.tags.size > site.featured-condition-size %}
                {% for tag in site.tags %}
                    <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}" 
                    href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}"
                    title="{{ tag[0] }}"
                    rel="{{ tag[1].size }}">{{ tag[0] }}</a>
                {% endfor %}
                {% else %}
                    <a>还没有标签，敬请期待哦...</a>
                {% endif %}
                {% endcapture %}
                {{ tags | split:'</a>' | sort | join:'</a>' }}
            </div>
        </section>
    </div>
</div>
{% endif %}
