<section class="visible-md visible-lg">
    <div class="panel panel-default side-about">
        <div class="panel-heading">
            <a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a>
        </div>
        <div class="panel-body">
            <div class="short-about">
                {% if site.sidebar-avatar %}
                <img src="{{site.sidebar-avatar}}" />
                {% endif %}
                {% if site.sidebar-about-description %}
                <p>{{site.sidebar-about-description}}</p>
                {% endif %}
                <!-- SNS Link -->
                {% include sns-links.html %}
                <p><i class="fa fa-envelope-o"></i> luckyerchen@gmail.com</p>
            </div>
        </div>
    </div>
</section>