{% unless site.duoshuo_shortname
    or site.disqus_shortname
    or site.hypercomments_id
    or site.gentie_productKey
    or site.duoshuo and site.duoshuo.shortname %}
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='https://unpkg.com/valine@1.3.4/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#Comment',
        avatar: "wavatar",
        app_id: '{{ site.valine_comment.leancloud_appid }}',   //这里变量的取值在网站配置文件里_config.yml
        app_key: '{{ site.valine_comment.leancloud_appkey }}', //这里变量的取值在网站配置文件里_config.yml
        placeholder:'{{ site.valine_comment.placeholder }}',    //这里变量的取值在网站配置文件里_config.yml
        visitor: true // 阅读量统计
    });
</script>
{% endunless %}