---
---
/*!
 * Ruj Blog v1.0.0 (http://rujpro.github.io)
 * Copyright 2018 Ruj <luckyerchen@gmail.com>
 */
 * { margin: 0; padding: 0; }
 html {
   height: 100%;
   -webkit-backface-visibility: hidden;
   -webkit-transform-origin: top;
   -moz-transform-origin: top;
   -ms-transform-origin: top;
   -o-transform-origin: top;
   transform-origin: top;
   -webkit-transition: all .75s ease;
   -moz-transition: all .75s ease;
   -o-transition: all .75s ease;
   -ms-transition: all .75s ease;
   transition: all .75s ease;
 }
 body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}
ul,ol,li { list-style:none;}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.7;
  line-height: 1.1;
  font-weight: bold;
}
hr{margin: 12px auto;}
h4 {
  font-size: 21px;
}
a {
  color: #404040;
}
a:hover,a:focus {
  color: #00a7e0;
  text-decoration: none;
}
::-webkit-selection {
  color: white;
  text-shadow: none;
  background: #00a7e0;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #00a7e0;
}
::selection {
  color: white;
  text-shadow: none;
  background: #00a7e0;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
img::-webkit-selection {
  color: white;
  background: transparent;
}
// markdown css start
.post-content table {
  width: 100%;
  overflow: auto;
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
}
.post-content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.post-content table th, .post-content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
blockquote {
  position: relative;
  background: #f4f4f4;
  margin: 20px 0;
  padding: 16px 24px 16px 40px;
  border: none;
}
blockquote::before {
  content: "“";
  top: 5px;
  left: 18px;
  font-size: 24px;
  position: absolute;
  width: 13px;
  height: 9px;
  font-weight: bold;
  color: #039c3e;
  display: inline-block;
}
blockquote::after {
  content: "”";
  bottom: 18px;
  right: 18px;
  font-size: 24px;
  position: absolute;
  width: 13px;
  height: 9px;
  font-weight: bold;
  color: #039c3e;
  display: inline-block;
}
/** Card **/
.card {
  background: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 16px;
  border-radius: 2px;
}
.highlight,
pre.highlight {
  background: #272822;
  color: #abb2bf;
}
.highlight pre {
  background: #272822;
  font-size: 12px !important;
}
.highlight .hll {
  background: #272822;
}
.highlight .c {
  color: #5c6370;
  font-style: italic;
}
.highlight .err {
  color: #960050;
  // background-color: #1e0010;
}
.highlight .k {
  color: #c678dd;
}
.highlight .l {
  color: #98c379;
}
.highlight .n {
  color: #abb2bf;
}
.highlight .o {
  color: #abb2bf;
}
.highlight .p {
  color: #abb2bf;
}
.highlight .cm {
  color: #5c6370;
  font-style: italic;
}
.highlight .cp {
  color: #5c6370;
  font-style: italic;
}
.highlight .c1 {
  color: #5c6370;
  font-style: italic;
}
.highlight .cs {
  color: #5c6370;
  font-style: italic;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .kc {
  color: #c678dd;
}
.highlight .kd {
  color: #c678dd;
}
.highlight .kn {
  color: #c678dd;
}
.highlight .kp {
  color: #c678dd;
}
.highlight .kr {
  color: #c678dd;
}
.highlight .kt {
  color: #c678dd;
}
.highlight .ld {
  color: #98c379;
}
.highlight .m {
  color: #d19a66;
}
.highlight .s {
  color: #E6DB74;
}
.highlight .na {
  color: #A6E22E;
}
.highlight .nb {
  color: #e5c07b;
}
.highlight .nc {
  color: #e5c07b;
}
.highlight .no {
  color: #e5c07b;
}
.highlight .nd {
  color: #e5c07b;
}
.highlight .ni {
  color: #e5c07b;
}
.highlight .ne {
  color: #e5c07b;
}
.highlight .nf {
  color: #abb2bf;
}
.highlight .nl {
  color: #e5c07b;
}
.highlight .nn {
  color: #abb2bf;
}
.highlight .nx {
  color: #abb2bf;
}
.highlight .py {
  color: #e5c07b;
}
.highlight .nt {
  color: #F92672;
}
.highlight .nv {
  color: #e5c07b;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf {
  color: #d19a66;
}
.highlight .mh {
  color: #d19a66;
}
.highlight .mi {
  color: #d19a66;
}
.highlight .mo {
  color: #d19a66;
}
.highlight .sb {
  color: #98c379;
}
.highlight .sc {
  color: #98c379;
}
.highlight .sd {
  color: #98c379;
}
.highlight .s2 {
  color: #98c379;
}
.highlight .se {
  color: #98c379;
}
.highlight .sh {
  color: #98c379;
}
.highlight .si {
  color: #98c379;
}
.highlight .sx {
  color: #98c379;
}
.highlight .sr {
  color: #56b6c2;
}
.highlight .s1 {
  color: #98c379;
}
.highlight .ss {
  color: #56b6c2;
}
.highlight .bp {
  color: #e5c07b;
}
.highlight .vc {
  color: #e5c07b;
}
.highlight .vg {
  color: #e5c07b;
}
.highlight .vi {
  color: #e06c75;
}
.highlight .il {
  color: #d19a66;
}
.highlight .gu {
  color: #75715e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gi {
  color: #a6e22e;
}
.highlighter-rouge .highlight {
  margin-bottom: 10px;
  border-radius: 6px;
}
.highlighter-rouge .highlight pre {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: transparent;
  border: 0;
  margin: 0;
  word-wrap: normal;
}
.highlighter-rouge .highlight .rouge-code pre {
  color: #abb2bf;
}
.highlighter-rouge .highlight .table-responsive {
  margin: 0px;
  border: 0px;
}
.highlighter-rouge .highlight .table {
  margin: 0px;
  table-layout: fixed;
}
.highlighter-rouge .highlight table > tbody > tr > td {
  margin: 0;
  border: 0;
  padding: 0;
}
.highlighter-rouge .highlight table > tbody > tr > td > pre {
  padding: 14px;
}
.highlighter-rouge .highlight td.rouge-gutter {
  width: 56px;
}
.highlighter-rouge .highlight .lineno {
  text-align: right;
  border-radius: 0px;
}
// markdown css end
// 评论
#Comment .info{display: none;}
// 搜索css
#search-input {
  width: 90%;
  height: 35px;
  color: #333;
  background-color: rgba(227,231,236,.2);
  line-height: 35px;
  padding:0px 16px;
  border: 1px solid #c0c0c0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 17px;
  outline: none;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
#search-input:focus {
  outline: none;
  border-color: rgb(102, 175, 233);
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #007fff;
}
// 搜索css
@keyframes snow{
	0% {
		background-position: 0 0, 0 0;
	}
	100% {
		background-position: 500px 500px, 1000px 500px;
	}
}
.home{
  background: url('/assets/img/urban.jpg') no-repeat !important;
  height: 100%;
  // background: linear-gradient(120deg, #cd4646, #ef6767);
  background-size: cover;
  background-position: 50% 0;
}
.ruj-wrap{
  background:rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}
.home .navbar-header{display: none;}
.error {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  color: #f00;
  padding: 5px;
  max-width: 50%;
}
#snowMask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/img/snow1.png'),url('/assets/img/snow2.png');
	animation: 10s snow linear infinite;
	pointer-events: none;
}
// canvas spider show
.spiderbox{
  position: fixed;
  top: 0;
  left: 500px;
  width: 400px;
  height: 200px;
  z-index: 9999;
  overflow: hidden;
  canvas{width: 100%;height: 100%;}
}

// welcome home Ruj start
.welcome-signboard {
  width: 380px;
  height: 280px;
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: 99;
  transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  animation: 1s init, 0.7s aa 1s, 3s ab 1.7s infinite;
}
@media screen and (max-width: 992px) {
  .spiderbox{display: none;}
  .home-title{top: 250px !important;}
}
@media screen and (max-width: 768px) {
  .home .navbar-header{display: block;}
  .welcome-signboard {
    height: 162px;
    width: 238px;
    top: 50px;
    left: 80px;
    z-index: 0;
    .pin{width: 15px;height: 15px;}
    .sign{
      font-size: 30px;
      height: 80px;
      line-height: 80px;
    }
    .strings {
      width: 110px;
      height: 110px;
      top: 30px;
      left: 63px;
    }
    .pin.pin1{left: 111px;}
    .pin.pin2 {top: 85px;left: 34px;}
    .pin.pin3 {top: 85px;right: 34px;}
  }
}
@keyframes aa {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotatez(7deg) translate(-17px, 1px);
  }
}

@keyframes ab {
  0% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
  50% {
    transform: rotatez(-7deg) translate(17px, 1px);
  }
  100% {
    transform: rotatez(7deg) translate(-17px, 1px);
  }
}

.sign {
  color: white;
  font-family: "Lato",
  sans-serif;
  font-size: 65px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background: #e00909;
  width: 100%;
  height: 180px;
  line-height: 180px;
  position: absolute;
  bottom: 0;
  border-radius: 15px / 20px;
  text-shadow: 0 2px #700a03;
}

.strings {
  width: 150px;
  height: 150px;
  border: solid 5px #ad5700;
  border-bottom: none;
  border-right: none;
  position: absolute;
  top: 38px;
  left: 122px;
  transform: rotatez(45deg);
}

.pin {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 25px;
}

.pin.pin1 {
  background: #9f9f9f;
  top: 0;
  left: 187px;
}

.pin.pin2, .pin.pin3 {
  background: #9c0a00;
}

.pin.pin2 {
  top: 110px;
  left: 80px;
}

.pin.pin3 {
  top: 110px;
  right: 60px;
}

@keyframes init {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
// welcome  home Ruj end
.home-title {
  color: #fff;
  width: 300px;
  position: absolute;
  right: 12%;
  top: 200px;
  text-align: center;
  h1{font-size: 60px;}
  span{font-size: 26px;}
}
.heart{
    margin-left: 10px;
    color: #e00909;
    vertical-align: middle;
    font-size: 25px !important;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}
.about-container{margin-bottom: 15px;}
.post-preview,.about-container {
  border-radius: 5px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.1);
}
.post-preview:hover{
  box-shadow: inset 0 0 38px rgba(0,0,0,.08);
  transition: all .15s ease;
}
.sidebar-container {
  font-size: 14px;
  margin-bottom: 15px;
}
.sidebar-container h5 {
  color: #888;
  padding-bottom: 1em;
}
.sidebar-container h5 a {
  color: #888 !important;
  text-decoration: none;
}

.sidebar-container a:hover,
.sidebar-container a:active {
  color: #00a7e0 !important;
}
.sidebar-container .tags a {
  border-color: #bfbfbf;
}
.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
  border-color: #00a7e0;
}
.sidebar-container .short-about img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin: 0 auto 20px;
}
.sidebar-container .short-about p {
  margin: 0 auto 20px;
  text-align: center;
}
.sidebar-container .short-about .list-inline {
  margin-left: 7px;
}
@media screen and (max-width: 1200px) {
  .sidebar-container .short-about .list-inline .fa-lg{font-size: 1em;}
}
img.shadow {
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}

code,kbd,pre,samp {
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
}
.postlist-container {
  margin-bottom: 15px;
}

.post-content a {
  color: #00a7e0;
}
.post-content a:hover,
.post-content a:focus {
  color: #337ab7;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 30px 0 10px;
  line-height: 1.4;
}
.post-content h5 {
  font-size: 19px;
  font-weight: 600;
  color: gray;
}
.post-content h5 + p {
  margin-top: 5px;
}
.post-content h6 {
  font-size: 16px;
  font-weight: 600;
  color: gray;
}
.post-content h6 + p {
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .post-content h1 {
    font-size: 30px;
  }
  .post-content h2 {
    font-size: 24px;
  }
  .post-content h3 {
    font-size: 21px;
  }
  .post-content h4 {
    font-size: 19px;
  }
}
// #catarlog{display: none !important;}
@media screen and (max-width: 992px){
  #catarlog{display: none;}
}

@media screen and (max-width: 768px) {
  .post-preview{margin-top: 15px;}
}

.post-container .anchorjs-link {
  position: absolute;
  padding-top: 1px;
}
@media screen and (max-width: 992px) {
  .post-container{margin: 45px auto 0px !important;}
  .sidebar-container{margin-top: 0px !important;}
  .post-preview {padding: 40px 10px 20px !important;}
  .post-title{font-size: 18px !important;}
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    position: absolute;
    right: 0;
    border: none;
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
  }
  /**
	 * nav Animation
	 */
  #rujblog_navbar {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  }
  #rujblog_navbar a {
    font-size: 13px;
    line-height: 28px;
  }
  #rujblog_navbar .navbar-collapse {
    height: 0px;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  }
  #rujblog_navbar li {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  #rujblog_navbar.in {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  #rujblog_navbar.in .navbar-collapse {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #rujblog_navbar.in li {
    opacity: 1;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }
}
.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  line-height: 1.7;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: white;
  height: 56px;
  line-height: 25px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .nav li a:hover {
  color: #00a7e0 !important;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}
// .navbar-custom .nav li a:after {
//   display: block;
//   position: absolute;
//   left: 0;
//   bottom: -1px;
//   width: 0;
//   height: 2px;
//   background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
//   content: "";
//   transition: width 0.2s;
// }
// .navbar-custom .nav li a:hover:after,
// .navbar-custom .nav li a.active:after {
//   width: 100%;
// }
.navbar-custom .nav li a.active {
  color: #00a7e0;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom body {
    font-size: 20px;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
    line-height: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a:active {
    background: none;
  }
}

.navbar-custom.invert .navbar-toggle:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-custom.invert .navbar-toggle .icon-bar {
  background-color: #404040;
}
.navbar-custom.invert .navbar-brand {
  color: #404040;
}
.navbar-custom.invert .navbar-brand:hover,
.navbar-custom.invert .navbar-brand:focus {
  color: #00a7e0;
}
.navbar-custom.invert .nav li a {
  color: #404040;
}
.navbar-custom.invert .nav li a:hover,
.navbar-custom.invert .nav li a:focus {
  color: #00a7e0;
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #00a7e0;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #00a7e0;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background: no-repeat center center;
  background-color: #cccccc;
  background-attachment: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;
  /* 0 on mobile, modify by Hux */
}
.intro-header.style-text {
  background: none;
}
.intro-header.style-text .site-heading,
.intro-header.style-text .post-heading{
  padding: 85px 0 20px;
  color: #404040;
}
.intro-header.style-text .site-heading .subheading,
.intro-header.style-text .post-heading .subheading {
  margin-bottom: 15px;
}

.intro-header .site-heading {
  padding: 150px 0;
  color: #fff;
}
.intro-header .site-heading {
  text-align: center;
}
.intro-header .site-heading h1 {
  margin-top: 0;
  font-size: 60px;
}

.intro-header .header-img-credit {
  position: absolute;
  bottom: 6px;
  right: 9px;
  color: white;
  opacity: 0.3;
  font-size: 10px;
  z-index: 1;
}
.intro-header .header-img-credit a {
  color: white;
}
@media screen and (max-width: 768px) {
  .intro-header .site-heading{padding: 85px 0 55px;}
  .intro-header .site-heading h1{
    margin-bottom: 0;
    font-size: 50px;
  }
  .post-preview .post-badge{left: -11px !important;}
  .post-preview .post-badge::after{border-right: 0.7em solid #00617f !important;}
}
// blog start
#postbox{
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}
#post-preview {
  transition: all .3s linear;
  transform: rotate(0deg);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.post-preview {
  padding: 40px 20px 20px;
  margin-bottom: 15px;
  position: relative;
}
.post-preview .post-badge {
  position: absolute;
  top: 17px;
  left: -16px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-image: linear-gradient(to bottom, #00a7e0 0%, #1cbcf1 100%);
  padding: 7px 11px 6px 20px;
  line-height: 1;
  border-radius: 0px 4px 4px 0px; 
}
.post-preview .post-badge::after {
  position: absolute;
  content: '';
  left: 0;
  top: 100%;
  border-top: o solid transparent;
  border-left: o solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #00617f;
}
.post-preview .post-badge a {
  color: #fff;
  border: none;
}
.post-preview .post-header {
  margin-bottom: 10px;
}
.post-preview .post-title {
  font-size: 20px;
}
.post-title-link {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
}
.post-preview .tags {margin-top: 10px;}
.post-preview .tags a {
  color: #ff3f1a !important;
  border-color: #ff3f1a;
  display: inline !important;
}
.post-preview .tags a:hover,
.post-preview .tags a:active{
  color: #00a7e0 !important;
  border-color: #00a7e0;
}
.post-preview .post-meta {
  font-size: 12px;
}
.post-preview .post-meta>span:nth-child(1) {
  color: #00a7e0;
}
.post-preview .post-meta .iconfont {
  font-size: 14px;
}
.post-preview .post-meta>span:nth-child(1) {
  color: #00a7e0;
}
.post-preview .post-meta a, .post-meta span {
  color: #666;
}
.post-preview .post-meta span {
  margin: 0 5px;
}
.post-preview .post-meta>span:nth-child(4) {
  color: #ff3f1a;
}
@media screen and (max-width: 768px) {
  .post-preview .post-meta>span:nth-child(4) {
    margin-left: 7px;
    margin-top: 5px;
    display: inline-block;
  }
  .post-content{font-size: 12px;}
}
.post-preview img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.post-preview .post-content {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
}
.mini-postcontent a{color: #333;}
.mini-postcontent a:hover{color: #00a7e0;}
.post-content p{font-size: 14px;}
.post-preview .post-button {
  padding: 20px 0 10px 0;
  text-align: center;
}

.post-preview .post-button a.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 0.2em 0.9em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: 1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

// blog end
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  font-size: 20px;
  padding: 25px 0;
  background-color: #2d2d2dfa;
  margin-bottom: -27px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .list-inline .fa-lg{font-size: 1.1em;}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin: 10px auto auto 0;
  color: #fff;
}
footer .copyright a {
  color: #00a7e0;
}
footer .copyright a:hover,
footer .copyright a:focus {
  color: #337ab7;
}
.post-container .page {
  margin: 20px 0 0;
  padding: 0px;
  height: auto;
  overflow: hidden;
}
.post-container .page li {
  width: 49%;
}
@media screen and (max-width: 768px) {
  .post-container .page li {
    width: 100%;
  }
  .post-container .page li i{display: none;}
}
.post-container .page li.next {
  float: right;
}

.post-container .page li.previous {
  float: left;
}

.post-container .page li>a {
  word-break: break-all;
  white-space: nowrap;
  color: #00a7e0;
}

.post-container .page li > a,
.post-container .page li>span,
.post-container .page li>i {
  line-height: 1.7;
  font-size: 13px;
}
.post-container .page li > a:hover,
.post-container .page li > a:focus {
  color: #337ab7;
}

/* Hux add tags support */
.d-none {
  display: none !important;
}
.tags {
  margin-bottom: -5px;
}
.tags.tags-sup a,
.tags.tags-sup .tag {
  padding: 0 10px 0 12px;
}
.tags a,
.tags .tag {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 7px 0 7px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
  cursor: pointer;
}
.tags a > sup,
.tags .tag > sup {
  margin-left: -2px;
  font-weight: 700;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .tags a,
  .tags .tag {
    margin-right: 5px;
  }
}
#tag-heading {
  padding: 70px 0 60px;
}
@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}
#tag_cloud {
  margin: 20px 0 15px 0;
}
#tag_cloud a,
#tag_cloud .tag {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin: 0 2px;
  margin-bottom: 8px;
  background: #f3f5f5;
}
#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active,
#tag_cloud a.focus,
#tag_cloud .tag.focus {
  background-color: #00a7e0 !important;
}
#tag_cloud a.focus,
#tag_cloud .tag.focus {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.239216) 0 1px 4px;
}
#tag_cloud a.tag-button--all,
#tag_cloud .tag.tag-button--all {
  font-weight: 700;
  color: #00a7e0!important;
}
#tag_cloud a.tag-button--all:hover,
#tag_cloud .tag.tag-button--all:hover,
#tag_cloud a.tag-button--all:active,
#tag_cloud .tag.tag-button--all:active,
#tag_cloud a.tag-button--all.focus,
#tag_cloud .tag.tag-button--all.focus {
  background-color: #e4e4e4 !important;
}
@media only screen and (min-width: 768px) {
  #tag_cloud {
    margin-bottom: 25px;
  }
}
.tag-comments {
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}
.t:first-child {
  margin-top: 0px;
}
.listing-seperator {
  color: #00a7e0;
  font-size: 21px !important;
}
.listing-seperator::before {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}
.mini-post-list {
  margin: 20px 0 15px 0;
}
.mini-post-list .post-preview{
  padding: 0px 40px 20px;
}
.mini-post-list .post-preview>a>.post-title {
  font-size: 18px;
  line-height: 1.3;
}
.mini-post-list .post-preview>a .post-title {
  font-size: 16px;
  font-weight: 800;
  margin-top: 20px;
  text-align: left;
}
.mini-post-list .tag-text {
  font-weight: 200;
  line-height: 1.7;
}
.mini-post-list .post-preview>a>.post-subtitle {
  font-size: 14px;
  font-weight: normal;
}
.affix{
  width: 18%;
  top: 70px; /* Set the top position of pinned element */
}

/* Tags support End*/
.post-container{margin: 60px auto 40px;}
.post-container .post-preview:hover{box-shadow: none;}
.post-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em auto;
}
#toc li{list-style: none !important;}
#toc li a:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #666;
  border-radius: 50%;
  margin: 3px;
}
#toc>li>a:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #666;
  border-radius: 50%;
  margin: 3px;
}

#toc li.active>a{background: none;color: #00a7e0;}
#toc li.active>a:before{background: #00a7e0;}
#toc .nav-pills>li>ul>li{margin-left: 15px;}
#toc .nav>li>a{padding: 5px 0px;}
/* Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}
.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25);
}
/* customize Style for navBar button */
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  border-radius: 0px;
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
/* customize Style for Duoshuo */
.comment {
  margin-top: 20px;
}
.comment #ds-thread #ds-reset a.ds-like-thread-button {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  box-shadow: none;
  text-shadow: none;
}
.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  box-shadow: none;
  text-shadow: none;
}
.comment #ds-thread #ds-reset .ds-textarea-wrapper {
  background: none;
}
.comment #ds-thread #ds-reset .ds-gradient-bg {
  background: none;
}
.comment #ds-thread #ds-reset .ds-post-options {
  border-bottom: 1px solid #ccc;
}
.comment #ds-thread #ds-reset .ds-post-button {
  border-bottom: 1px solid #ccc;
}
.comment #ds-thread #ds-reset .ds-post-button {
  background: white;
  box-shadow: none;
}
.comment #ds-thread #ds-reset .ds-post-button:hover {
  background: #eeeeee;
}
#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}
.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}
.page-fullscreen footer .copyright {
  color: #fff;
}
.page-fullscreen footer .copyright a {
  color: #fff;
}
.page-fullscreen footer .copyright a:hover {
  color: #ddd;
}
.MathJax_SVG_Display {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
