<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<!-- hack iOS CSS :active style -->
<body ontouchstart="" class="home">
    <div class="ruj-wrap">
        {% include nav.html %}
        <!-- snow actions -->
        <div id="snowMask"></div>
        <!--canvas spider show-->
        <div class="spiderbox">
            <canvas id="spider"></canvas>
        </div>
        <!-- home Container -->
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
        <!-- home loading start -->
        {% include loading.html type='home' %}
        <!-- home loading end -->
    </div>
</body>
</html>