---
layout: default
type: post
---

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 post-container">
                <div class="post-preview">
                    <!-- post-header -->
                    {% include post-header.html %}<hr>
                    <!-- require APlayer -->
                    {% if page.musicId %}
                    {% include aplayer.html %}
                    {% endif %}
                    <!-- <img src="123.jpg" alt=""> -->
                    <div class="post-content">
                        {{ content }}
                    </div>
                    <hr>
                    <div class="post-button">
                        <a class="waves-effect" data-toggle="modal" data-target="#myModal">赏</a>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>您的赏识就是我前进的动力</p>
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#home" data-toggle="tab">
                                                    微信支付
                                            </a>
                                        </li>
                                        <li><a href="#tbpay" data-toggle="tab">支付宝支付</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="home">
                                            <img src="{{ '/assets/img/wxpay.jpg' | prepend: site.baseurl }}" alt="微信扫一扫付款">
                                        </div>
                                        <div class="tab-pane fade" id="tbpay">
                                            <img src="{{ '/assets/img/tbpay.jpg' | prepend: site.baseurl }}" alt="支付宝扫一扫付款">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!-- 下一文章 -->
                    {% include share.html %}
                    <ul class="page">
                        {% if page.previous.url %}
                        <li class="previous">
                            <i class="fa fa-angle-left"></i>
                            <span>上一篇：</span>
                            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                            {{ page.previous.title | strip_html | truncate:25 }}
                            </a>
                        </li>
                        {% endif %}
                        {% if page.next.url %}
                        <li class="next">
                            <span>下一篇：</span>
                            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                            {{ page.next.title | strip_html | truncate:25 }}
                            </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        评论
                    </div>
                    <div class="panel-body">
                        {% if site.valine_comment.enable %}
                            <div id="Comment"></div>
                        {% endif %}
                    </div>
                </div>
            </div>  
            <!-- Sidebar Container -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-container" style="margin-top:60px;">
                <!-- Short About -->
                {% include short-about.html %}
                <!-- Friends link -->
                {% include friends.html %}
                <!-- catalog show -->
                {%  if site.catalog %}
                {% include catalog.html %}
                {%  endif %}
            </div>
        </div>
    </div>
</article>
<!-- add support for mathjax by voleking-->
{% if page.mathjax %}
  {% include mathjax_support.html %}
{% endif %}

